@import url('https://fonts.googleapis.com/css2? family= Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600; 1.700;1.800 & display=swap');

/*  */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    background-image: url("../image/relogio.jpeg");
    background-repeat: no-repeat;
    background-size: 1400px 900px;
    display: flex;    
    justify-content: center;
    align-items: center;
    
}

.relogio {
    /* Alinha e centraliza os elementos da class*/
    display: flex;
    align-items: center;
    /* Ajusta o espaçamentos entre os elementos */
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    /* arendondar bordas */
    border-radius: 3px;
    /* sombra */
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    /* espaçamento entre as letras */
    letter-spacing: 3px;
}

.relogio span {
        font-weight: bolder;
        font-size: 60px;
}

.relogio span.tempo {
        font-size: 10px;
}

.data {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 550px;
    background: transparent;
    /* arendondar bordas */
    border-radius: 3px;
    /* sombra */
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    font-size: 50px;
    color: #fff;
}

#dia, #mes {
    height: 35px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    /* espaçamento entre as letras */
    letter-spacing: 3px;
    font-size: 20px;
}

#ano {
    height: 35px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    /* espaçamento entre as letras */
    letter-spacing: 3px;
    font-size: 20px;
}

